.actionflow1 {
    width: 718px;
    height: 208px;
    background-color: #E8E8E8;
    margin-bottom: 200px;
}
.action{
    /* Layout Properties */
    display: flex;
    justify-content: space-between;
    top: 1188px;
    left: 40px;
    width: 718px;
    height: 52px;
    background: #FFFFFF00 0% 0% no-repeat padding-box;
    opacity: 1;

}
.Check_mark {
    font-size: 24px;
    width: 24px;
    height: 24px;
}
.Checked_mark{
    font-size: 24px;
    width: 24px;
    height: 24px;
    color: #02C299;
}
