.fixed-flow1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.header-flow1-fixed {
    width: 1366px;
    height: 52px;
    margin: 0 auto;
    margin-top: var(--header-nav);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0ecec;
}

.header-flow1-fixed__name {
    display: flex;
    margin: 0  0 0 20px;
}

.header-flow1-fixed__name-info {
    margin-right: 12px;
}

.header-flow1-fixed__name-id {
    height: 19px;
    text-align: left;
    font: normal normal 600 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #141414;
    text-transform: uppercase;
    opacity: 1;
}

.header-flow1-fixed__name-dot {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: black;
    margin: 10px 10px 0 10px;
}

.header-flow1-fixed__name-compname {
    text-align: left;
    font: normal normal 900 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #141414;
    opacity: 1;
}

.header-flow1-fixed__action-btn {    
    width: 80px;
    height: 20px;
    margin: 0 9px;
    border: 1px solid #FF9500;
    background: #00C7BE00 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    font: normal normal 600 10px/16px Open Sans;
    letter-spacing: 0px;
    color: #FF9500;
    text-transform: uppercase;
    opacity: 1;
}

.header-flow1-fixed__action-btn--active {
    background: #FF9500 0% 0% no-repeat padding-box;
    color: #FFFFFF;
}

.header-flow1-fixed__button {
    display: flex;
    align-items: center;
    margin-right: 40px;
}   

.header-flow1-fixed__button-size {
    width: 20px;
    height: 20px;
}

.header-flow1-fixed__button-size1 {
    width: 20px;
    height: 20px;
    margin: 9px;
}

.header-flow1-fixed__button-print {
    width: 40px;
    height: 40px;
    /* background: #30303000 0% 0% no-repeat padding-box; */
    background-color: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 8px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-flow1-fixed__button-setting {
    /* width: 40px;
    height: 40px;
    background: #30303000 0% 0% no-repeat padding-box;
    border: 1px solid #D6D6D6;
    border-radius: 8px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;     */
}
.header-flow1-fixed__button-setting {
    margin: 0 8px;
    position: relative;
}

.header-flow1-fixed__button-print:hover {
    cursor: pointer;
}
.header-flow1-fixed__button-click:hover {
    cursor: pointer;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #141414;
    border-radius: 5px;
    animation: fadeIn ease-out 0.3s;
}
@keyframes fadeIn {
    from {
        border-radius: 8px;
    }
    to {
        border-radius: 5px;
    }
}

/* .header-flow1__button-setting:active .setting-list {
    display: block;
} */

.header-flow1-fixed__button-click {
    width: 40px;
    height: 40px;
    /* border: 1px solid #D6D6D6; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #30303000 0% 0% no-repeat padding-box; */
    background-color: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 8px;
    opacity: 1; 
}

/*  */
.full-screen-setting-fixed {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    /* z-index: 6; */
    cursor: pointer;
    display: none;
}
.check-input-setting-fixed {
    display: none;
}

.check-input-setting-fixed:checked ~ .header-flow1-fixed__button-click {
    border: 1px solid #D6D6D6;
    background: #141414 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
}
.check-input-setting-fixed:checked ~ .full-screen-setting-fixed {
    display: block;
}
.check-input-setting-fixed:checked ~ .setting-list-fixed {
    display: block;
}

/*  */

.setting-list-fixed:hover {
    cursor: pointer;
}

.setting-list-fixed {
    position: absolute;
    width: 220px;
    /* height: 464px; */
    top: 48px;
    left: 0;
    z-index: 1;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    box-shadow: 4px 4px 16px #00000029;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    display: none;
}

.setting-list-fixed__update {
    height: 48px;
    border-bottom: 1px solid #E0E0E0;
}
.setting-list-fixed__update h5 {
    margin: 0;
    padding: 11px 0 18px 16px;
    text-align: left;
    font: normal normal normal 14px/19px Open Sans;
    letter-spacing: 0px;
    color: #141414;
    opacity: 1;
}

.setting-list-fixed__name {
    height: 52px;
    border-bottom: 1px solid #c2c2c2;
}
.setting-list-fixed__name h5 {
    margin: 0;
    padding: 15px 0 15px 16px;
    text-align: left;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #141414;
    opacity: 1;
}

.setting-list-fixed__reward {
    height: 120px;
    border-bottom: 1px solid #E0E0E0;
}
.setting-list-fixed__reward h5 {
    margin: 0;
    padding: 11px 0 10px 16px;
    text-align: left;
    font: normal normal normal 14px/19px Open Sans;
    letter-spacing: 0px;
    color: #141414;
    opacity: 1;    
}

.setting-list-fixed__collect {
    height: 160px;
}
.setting-list-fixed__collect h5 {
    margin: 0;
    padding: 11px 0 10px 16px;
    text-align: left;
    font: normal normal normal 14px/19px Open Sans;
    letter-spacing: 0px;
    color: #141414;
    opacity: 1;
}

.setting-list-fixed__del {
    height: 56px;
    border-top: 1px solid #E0E0E0;
}
.setting-list-fixed__del h5 {
    margin: 0;
    padding: 19px 0 0 16px ;
    text-align: left;
    font: normal normal normal 14px/19px Open Sans;
    letter-spacing: 0px;
    color: #FF2D54;
    opacity: 1;
}


.header-flow1-fixed__button-done {
    width: 199px;
    height: 40px;
    background-color: rgb(116, 116, 255);
    border: 1px solid #D6D6D6;
    border-radius: 8px;
    opacity: 1;

    font: normal normal medium 14px/18px Be Vietnam Pro;
    letter-spacing: 0px;
    color: #ffffff;
}
.header-flow1-fixed__button-done:hover {
    cursor: pointer;
}