.contentsflow1 {
    height: 307px;
    width: 1266px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #FFFFFF;
    /* border-bottom: 1px solid #050505; */
    
}
.category-container{
    width: 297px;
    height: 32px;
    background: #FFFFFF00 0% 0% no-repeat padding-box;
    opacity: 1;
}
.category-container-position{
    height: 32px;
    width: 297px;
}
 .list1{
    width: 96px;
    height: 32px;
    background: #FFFFFF00 0% 0% no-repeat padding-box;
    opacity: 1;
    border-right: 1px solid #C2C2C2;
}
    

.text1{
    width: 64px;
    height: 19px;
    margin-left: 16px;
    margin-top: 6px;
    margin-bottom: 7px;
    margin-right: 16px;
    text-align: left;
    font: normal normal normal 14px/19px Open Sans;
    letter-spacing: 0px;
    color: #007FFF;
    opacity: 1;
    
}
.list2{
    width: 108px;
    height: 32px;
    margin-left: 0px;
    background: #FFFFFF00 0% 0% no-repeat padding-box;
    opacity: 1;
    border-right: 1px solid #C2C2C2;

}
.text2{
    width: 70px;
    height: 19px;
    margin-left: 16px;
    margin-top: 6px;
    margin-bottom: 7px;
    margin-right: 16px;
    text-align: left;
    font: normal normal normal 14px/19px Open Sans;
    letter-spacing: 0px;
    color: #007FFF;
    opacity: 1;
    
}
.list3{
    width: 93px;
    height: 32px;
    background: #FFFFFF00 0% 0% no-repeat padding-box;
    opacity: 1;

}
/*  */
.detail-container{
    width: 1266px;
    height: 272px;
    margin-top: 16px;
    background: #00000008 0% 0% no-repeat padding-box;
    display: flex;
    
}
.block1{
    width: 626px;
    height: 260px;
    margin: 0 0 0 0px;
    border-right:  2px solid #FFFFFF;
    border-radius: 5px;
}
.block1-1{
    height: 50%;
    margin: 0 0 0 0px;
    border-radius: 5px;
    border-bottom: 2px solid #FFFFFF;
    display: flex;
}


.block2{
    width: 640px;
    height: 260px;
    margin: 0 0 0 0px;
    border-radius: 5px;
    
}
.block2-1{
    height: 50%;
    margin: 0 0 0 0px;
    border-radius: 5px;
    
}
.block2-1-1{
    height: 50%;
    margin: 0 0 0 0px;
    border-radius: 5px;
    display: flex;
}
.block2-1-1-1{
    height: 100%;
    width: 50%;
    margin: 0 0 0 0px;
    border-radius: 5px;
    border-right: 2px solid #FFFFFF;
}
.block2-1-1-2{
    height: 100%;
    width: 50%;
    margin: 0 0 0 0px;
    border-radius: 5px;
    border-top: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
}

.block2-2{
    height: 50%;
    margin: 0 0 0 0px;
    border-radius: 5px;
    display: flex;
}
.block2-2-1{
    height: 100%;
    width: 50%;
    margin: 0 0 0 0px;
    border-right: 2px solid #FFFFFF;
    border-top: 2px solid #FFFFFF;
    border-radius: 5px;
}
.block2-2-1-1{
    height: 50%;
    width: 100%;
    margin: 0 0 0 0px;
    border-radius: 5px;
    border-bottom: 2px solid #FFFFFF;
}

.detail-container.block2{
    width: 320px;
    height: 64px;
    margin-top: 0px;
    margin-left: 644px;
    margin-right: 322px;
    margin-bottom: 0px;
    border-right: 2px solid #FFFFFF;
    border-top: 2px solid #FFFFFF;
    border-radius: 5px;
}
.detail-container.block3{
    
}