.header {
    margin-top: 16px;
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

.header__search {
    width: 334px;
    height: 32px;
    border-radius: 12px;
    border: 1px solid #D9D9D9;
    display: flex;
    align-items: center;
    background-color: #F7F7F7;
}

.header__search-icon {
    padding: 0 8px 0 12px;
}
.header__search-icon:hover {
    cursor: pointer;
}

.header__search-input {
    flex: 1;
    margin-right: 34px;
    height: 19px;
    font-size: 14px;
    font-weight: 100;
    border: none;
    outline: none;
    background-color: #F7F7F7;

    text-align: left;
    font: normal normal normal 14px/19px Open Sans;
    letter-spacing: 0px;
    color: #ADADAD;
    opacity: 1;
}

.header__nav {
    height: 32px;
    display: flex;
    align-items: center;

}

.header__nav-card {
    text-decoration: none;
    margin: 0 16px;
    display: flex;
    align-items: center;
}

.header__nav-card-label,
.header__nav-card-table {
    font-size: 14px;
    margin-left: 8px;
    opacity: 1;
    letter-spacing: 0px;
    text-align: left;
    font: normal normal normal 14px/20px SVN-Helvetica Now Display;
}
.header__nav-card-label {
    color: #007FFF;
}
.header__nav-card-table {
    color: #717171;
}

.header__nav-setting {
    width: 32px;
    height: 32px;
    text-align: center;
    margin: 0 10px 0 16px;

    background: transparent linear-gradient(180deg, #F2F2F2 0%, #E0E0E0 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #C2C2C2;
    border-radius: 5px;

}
.header__nav-setting:hover .header__nav-setting-iconAdd{
    cursor: pointer;
    display: block;
    /* transition: auto-animate ease-out 0.3s; */
}
.header__nav-setting:hover .header__nav-setting-iconSetting {
    cursor: pointer;
    display: none;

    /* transition: auto-animate ease-out 0.3s; */
}

.header__nav-setting-iconSetting {
    padding-top: 6px;

}

.header__nav-setting-iconAdd  {
    padding-top: 6px;
    display: none;
}


.btn1_btn2{
    width: 126px;
    height: 32px;

    position: relative;
}
.btn1_btn2:hover .header-btn1{
    opacity: 0;
}
.btn1_btn2:hover .header-btn2{
    opacity: 1;
}
.btn1_btn2:hover .header__nav-setting{
    z-index: 5;
}

.header-btn1 {

    opacity: 1;
    /* UI CSS */
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    background: transparent linear-gradient(180deg, #54A9FF 0%, #007FFF 100%) 0% 0% no-repeat padding-box;
    text-align: center;
    font: normal normal 600 14px/19px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;

}
.header-btn2{
    top: 0;
    left: 0;
    opacity: 0;

    position: absolute;
    transition: 0,4s;
    /* UI CSS */
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    background: transparent linear-gradient(180deg, #54A9FF 0%, #007FFF 100%) 0% 0% no-repeat padding-box;
    text-align: center;
    font: normal normal 600 14px/19px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    transform: translate(-2.9rem ,0);
    cursor: pointer;
    transition: 1.2s;
    /* transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55); */
}




.but_contain{
    width: 184px;
    display: flex;


}
